/**
 * Imageviewer style
 * author: zhan.chen
 * date: 2015.7.17;
 */

html, body {
	height: 100%;
}

.img_list {
	background: #000;
	font-size: 14px;
}

.img_group {
	padding-bottom: 9px;
}

.img_tag {
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	color: #fff;
	background: #424242;
}

.pic {
	display: block;
	float: left;
	width: 95px;
	height: 70px;
	margin: 9px 0 0 9px;
	overflow: hidden;
}

.pic img {
	height: 70px;
	-webkit-transition: opacity 0.35s linear;
	transition: opacity 0.35s linear;
}

.img_full {
	overflow: hidden;
	height: 100%;
	background: #000;
	font-size: 14px;
}

.img_full ul {
	height: 100%;
	overflow: hidden;
}

.img_full li {
	float: left;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}

.img_full img {
	max-width: 100%;
	vertical-align: middle;
}

.img_info {
	height: 25px;
	margin-top: -80px;
	line-height: 25px;
	color: #fff;
	text-align: center;
}